*, ::after, ::before{
  box-sizing: border-box;
}

html{
  font-family: var(--font-display)
}
:root{
  --bg: rgb(217, 219, 222);
  --bg-content: rgb(238, 238, 238);

  --font-display: 'Kameron', 'Roboto', Arial, sans-serif;
  --font-body: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  background-color: var(--bg);
  display: flex;
  height: 100vh;
}

.image{
  background-image: url(img/black-rock-nick-nice.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  flex: 2;
  position: relative
}

.logo{
  align-self: stretch;
  margin: 20%;
  opacity: 95%;
}

.mark-white{
  background-image: url(img/mark-white.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: min(calc(30vh * 1.2), calc(20vw * 1.2));
  margin-bottom: 32px;
}

.logo-white{
  background-image: url(img/logo-white.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: min(calc(25vh * 1.2), calc(15vw * 1.2));
}

.credit{
  color: var(--bg-content);
  opacity: 70%;
  font-size: .75rem;
  font-family: var(--font-body);
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  width: 35vw;
  text-align: center;
}

.image a:visited{
  color: var(--bg-content);
}

.content{
  flex: 3;
  position: relative;
  padding: 24px;
}

.content-wrapper{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.content-wrapper > h1{   /* WE ENCOURAGE YOU*/
  font-size: calc(1rem + 2vw);
  font-weight: 550;
  line-height: 120%;
  letter-spacing: .3px;
  width: 90%;
  margin-bottom: .5rem;
}

.content-wrapper > h2{   /*YOU ARE HERE*/
  font-size: calc(1rem + .3vw);
  font-style: italic;
}

#form{
  height: 260px;
  margin-top: 7%;
}
#form::before{
  content: '';
  background-color: var(--bg-content);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  display: block;
  position: absolute;
  z-index: -1;
  width: calc(100% + 48px);
  height: 260px;
  left: -24px;
  transform: translateY(-24px);
}

#form h1{    /*JUMP IN*/
  font-size: 1.4rem;
  font-weight: 500;
  font-family: var(--font-body);
  margin-bottom: 24px;
}

.fields{
  font-family: var(--font-body);
  display: flex;
  row-gap: 16px;
  column-gap: 28px;
  flex-wrap: wrap;
}

.field{
  width: 40%;
  position: relative;
}

label{
  text-transform: uppercase;
  font-weight: 600;
  font-size: .7rem;
  color: rgb(91, 91, 91);
  text-wrap: nowrap;

  display: block;
  /* margin-left: 4px; */
  margin-bottom: 4px;
}
label::after{
  content: '';
  background-image: url(img/approved.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 4px;
  top: 14px;
  visibility: hidden;
}
label:has(:valid:not(:focus))::after{
  visibility:visible;
}

.flex-container{
  display: flex;
}
.tel select{
  display: block;
  outline: none;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 2px;
  padding: 1px;
  font-size: .8rem;
}

input{
  display: block;
  width: 100%;

  outline: none;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 2px;
  padding: 4px;
  font-size: .9rem;
}
input:focus{
  animation: shadowAppear 0.1s ease-in forwards;
}
@keyframes shadowAppear{
  0%{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0);
  }
  100%{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}

input::after{
  content: url(img/approved.svg);
  display: block;
  width: 10px;
  height: 10px;
  z-index: 3;
}


@media (max-width: 700px) {
  .image{
    flex: 1;
  }
  .fields{
    flex-direction: column;
    gap: 4px;
  }
  .field{
    width: 80%;
  }
  #form{
    height: 280px;
  }
  #form::before{
    height: 280px;
  }
  input{
    font-size: .8rem;
    padding: 1px;
  }
  label{
    font-size: .5rem;
  }
  label::after{
    top: 10px;
  }
  #form h1{    /*JUMP IN*/
    font-size: 1rem;
    margin-bottom: 12px;
  }
  .credit{
    font-size: .5rem;
    width: 20vw
  }
  .content-wrapper > h1{   /* WE ENCOURAGE YOU*/
    font-size: calc(1rem + .8vw);
  }
}



