*, ::after, ::before{
  box-sizing: border-box;
}

html{
  font-family: var(--font-display)
}
:root{
  --bg: rgb(217, 219, 222);
  --bg-content: rgb(238, 238, 238);
  --bg-btn: rgb(50, 50, 50);
  --clr-btn: rgb(233, 233, 233);
  --clr-warning: rgb(232, 88, 66);

  --border-input: 1px solid rgb(172, 172, 172);

  --font-display: 'Kameron', 'Roboto', Arial, sans-serif;
  --font-body: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  background-color: var(--bg);
  display: flex;
  height: 100vh;
}

.image{
  background-image: url(img/black-rock-nick-nice.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  flex: 2;
  position: relative
}

.logo{
  align-self: stretch;
  margin: 20%;
  opacity: 95%;
}

.mark-white{
  background-image: url(img/mark-white.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: min(calc(30vh * 1.2), calc(20vw * 1.2));
  margin-bottom: 32px;
}

.logo-white{
  background-image: url(img/logo-white.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: min(calc(25vh * 1.2), calc(15vw * 1.2));
}

.credit{
  color: var(--clr-btn);
  opacity: 70%;
  font-size: .75rem;
  font-family: var(--font-body);
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  width: 35vw;
  text-align: center;
}

.image a:visited{
  color: var(--bg-content);
}

.content{
  flex: 3;
  position: relative;
  padding: 24px;
}

.content-wrapper{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.content-wrapper > h1{   /* WE ENCOURAGE YOU*/
  font-size: calc(.8rem + 2vw);
  font-weight: 550;
  line-height: 110%;
  letter-spacing: .3px;
  width: 90%;
  margin-bottom: .5rem;
}

.content-wrapper > h2{   /*YOU ARE HERE*/
  font-size: calc(1rem + .3vw);
  font-style: italic;
}

#form{
  height: 270px;
  margin-top: 7%;
}
#form::before{
  content: '';
  background-color: var(--bg-content);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  display: block;
  position: absolute;
  z-index: -1;
  width: calc(100% + 48px);
  height: 268px;
  left: -24px;
  transform: translateY(-16px);
}

#form h1{    /*JUMP IN*/
  font-size: 1.4rem;
  font-weight: 500;
  font-family: var(--font-body);
  margin-bottom: 18px;
}

.fields{
  font-family: var(--font-body);
  display: flex;
  row-gap: 16px;
  column-gap: 28px;
  flex-wrap: wrap;
}

.field{
  width: 40%;
  position: relative;
}

label{
  text-transform: uppercase;
  font-weight: 600;
  font-size: .7rem;
  color: rgb(91, 91, 91);
  text-wrap: nowrap;

  display: block;
  margin-bottom: 4px;
}
label::after{
  content: '';
  background-image: url(img/approved.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 4px;
  top: 21px;
  visibility: hidden;
}
label:has(input:valid:not(:focus):not(:placeholder-shown))::after{
  visibility:visible;
}
.asterisk{
  color: var(--clr-warning);
  visibility: hidden;
  font-size: .9rem;
}
.required{
  font-size: .7rem;
  color: var(--clr-warning);
  margin-bottom: 4px;
}
.required .asterisk{
  visibility: visible;
}
label:has(:required) sup{
  visibility: visible;
}

.name::after, .last-name::after{
  content: 'No numbers, please';
  color: var(--clr-warning);
  font-size: .7rem;
  position: absolute;
  bottom: -8px;
  visibility: hidden;
}
.password::after{
  content: 'Please, make it longer';
  color: var(--clr-warning);
  font-size: .7rem;
  position: absolute;
  bottom: -8px;
  visibility: hidden;
}
.password-conf::after{
  content: 'Passwords are different';
  color: var(--clr-warning);
  font-size: .7rem;
  position: absolute;
  bottom: -8px;
  visibility: hidden;
}
.email::after{
  content: 'Please, use correct format';
  color: var(--clr-warning);
  font-size: .7rem;
  position: absolute;
  bottom: -8px;
  visibility: hidden;
}
.tel::after{
  content: 'Should have 10 numbers';
  color: var(--clr-warning);
  font-size: .7rem;
  position: absolute;
  bottom: -8px;
  visibility: hidden;
}
.field:has(input:not(:placeholder-shown):not(:focus):invalid)::after{
  visibility: visible;
}

.flex-container{
  display: flex;
}
.tel select{
  display: block;
  outline: none;
  border: var(--border-input);
  color: rgb(61, 61, 61);
  border-radius: 2px;
  padding: 1px;
  margin-top: 4px;
  font-size: .9rem;
  font-weight: 500;
}

input{
  display: block;
  width: 100%;

  outline: none;
  border: var(--border-input);
  border-radius: 2px;
  padding: 4px;
  margin-top: 4px;
  font-size: .9rem;
}
input:focus{
  animation: shadowAppear 0.1s ease-in forwards;
}
@keyframes shadowAppear{
  0%{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0);
  }
  100%{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}
::placeholder{
  font-size: .8rem;
  opacity: 60%;
}

.submit{
  background-color: var(--bg-btn);
  color: var(--clr-btn);
  border-radius: 3px;
  border: none;
  font-size: 1.2rem;
  padding: 10px 20px;
  margin-bottom: 12px;
  cursor: pointer;
}

.credit a{
  color: var(--clr-btn);
}
.credit a:visited{
  color: var(--clr-btn);
}
.have-account a{
  color: var(--bg-btn);
  font-size: 1.1rem;
}
.have-account a:hover{
  text-decoration: none;
}
.typos{
  font-size: .8rem;
  margin-bottom: 12px;
}

@media (max-width: 700px) {
  .image{
    flex: 1;
  }
  .fields{
    flex-direction: column;
    gap: 0;
  }
  .field{
    width: 80%;
  }
  #form{
    height: 47vh;
    margin-top: 12px;
  }
  #form::before{
    height: 45vh;
    transform: translateY(-8px);
  }
  input{
    font-size: 1rem;
    padding: 1px;
    margin-top: 2px;
  }
  .tel select{
    margin-top: 2px;
    font-size: .6rem;
    padding: 0;
  }
  .tel input::placeholder{
    content: '10 digits';
  }
  label{
    font-size: .5rem;
  }
  label::after{
    top: 18px;
  }
  #form h1{    /*JUMP IN*/
    font-size: 1rem;
    margin-bottom: 4px;
  }
  .credit{
    font-size: .5rem;
    width: 20vw;
  }
  .content-wrapper > h1{   /* WE ENCOURAGE YOU*/
    font-size: calc(1rem + .8vw);
  }
  .submit{
    font-size: .8rem;
    padding: 6px 8px;
    margin-bottom: 4px;
  }
  .typos{
    font-size: .7rem;
    margin-bottom: 4px;
  }
  .required{
    font-size: .6rem;
    margin-bottom: 0;
  }
}

/* RESPONSIVE FIELDS */


/* 
Overall UX enhancement 

Make mobile-friendly without changing overall layout
Password comparison using JS
Improve tel field UX
Add :invalid::after to tel and password-conf fields
Make content-wrapper smaller
Improve button styling and add event-listeners
*/




